.cloud {
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    flex: 1;
    justify-content: center;
    alignc-items: flex-end;
    will-change: scroll-position;
}

.cloud0 {
    -webkit-animation-name: cloudmove;
    -webkit-animation-duration: 260s;
    -webkit-animation-delay: -10s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}
.cloud1 {
    -webkit-animation-name: cloudmove;
    -webkit-animation-duration: 240s;
    -webkit-animation-delay: -90s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}
.cloud2 {
    -webkit-animation-name: cloudmove;
    -webkit-animation-duration: 230s;
    -webkit-animation-delay: -120s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}
.cloud3 {
    -webkit-animation-name: cloudmove;
    -webkit-animation-duration: 250s;
    -webkit-animation-delay: -70s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}
.cloud4 {
    -webkit-animation-name: cloudmove;
    -webkit-animation-duration: 110s;
    -webkit-animation-delay: -30s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}
.cloud5 {
    -webkit-animation-name: tiny-cloudmove;
    -webkit-animation-duration: 120s;
    -webkit-animation-delay: -100s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}
.cloud6 {
    -webkit-animation-name: tiny-cloudmove;
    -webkit-animation-duration: 100s;
    -webkit-animation-delay: -60s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}
.cloud7 {
    -webkit-animation-name: tiny-cloudmove;
    -webkit-animation-duration: 105s;
    -webkit-animation-delay: -5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}


@keyframes cloudmove {
    from {left: -95%;}
    to {left: +50%;}
}

@keyframes tiny-cloudmove {
    from {left: -90%;}
    to {left: +30%;}
}
